.sumtime_Footer{
	color:white;
	background-color:#357EBD !important;
	width:100%;
	height:180px;
	bottom:0;
	position:absolute;

}

.sumtime_Footer img:hover{
	opacity:1;
}

.logos{
	margin-top:-30px;
}

.logos img{
	height:60px;
	max-height:90px;
	opacity:0.6;
	margin:20px;
}

.logos img:hover{
	opacity:1;
}
